* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    height: 100%;
    // font-family: $font-family;
    font-family: 'Roboto';
}

a {
   
    text-decoration: none;
    color: $preto;
}

ul, li {
    list-style: none;
}

#tudo {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    @include mq('tablet','max'){
        padding-top: 75px;
    }
    main {
        
        @include mq("tablet-wide", min) {
            padding-bottom: 520px;
            // margin-top: -24px;
        }

        .espaco-ver-todos {

            display: flex;
            justify-content: center;
            padding: 20px;
            text-align: center;
    
            .btn-ver-todos {
    
                background-color: #4089E0;
                border: none;
                border-radius: 8px;
                padding: 16px 100px;
               
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;

                @include mq("tablet-wide", max) {
                    font-size: 23px;
                }
        
    
                &:hover {
                    background-color: $azul-2;
                    color: $branco;
                    transition-duration: 0.6s;
                }
            }
        }
    }
}

h1 {
   
    font-weight: 600;
    font-size: 40px;
    color: $azul-2;
    text-align: center;
    padding-top: 35px;
}