#avaliacoes-clientes {

    // background-image: url('../img_site/aviao.png');
    // background-repeat: no-repeat;
    // background-position: left bottom;
    // background-size: 500px;

    .card-title {
        background-color: $branco;
      
        padding: 20px 0px 0px 0px;

        span {
            color: #000;
            background-color: #D1E6FF;
            padding:10px 30px;
            border-radius: 0px 50px 0px 0px;
            position: relative;
            font-size: 18px;
            font-weight: 600;
            width: 40%;
            display: block;

            @include mq("phone-wide", max) {
                width: 90%;
            }

            &:after{
                content: "";
                position: absolute;
                right: 100%;
                height: 100%;
                top: 0;
                background-color: #D1E6FF;
            }
            @include mq("tablet-wide", max) {
                font-size: 16px;
            }
        }
    }

    .card-grafico {
        background-color: $azul-4;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        border: none;
        width: 100%;
        height: auto;

        // .card-title {

        //     padding: 20px 0px 0px 0px;

        //     span {
        //         font-weight: 700;
        //         font-size: 24px;
        //         color: $preto;
        //         background-color: $azul-1;
        //         padding: 10px 60px 5px 30px;
        //         border-radius: 0px 50px 0px 0px;

        //         @include mq("tablet-wide", max) {
        //             font-size: 23px;
        //         }
        //     }
        // }

        p {
            font-weight: 400;
            font-size: 14px;
            color: $cor-2;
        }

        .bar-chart {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }

        .bar {
            height: 30px;
            margin-bottom: 10px;
            background-color: $cinza-2;
        }

        .bar::before {
            content: '';
            display: block;
            width: var(--percent);
            height: 100%;
            background-color: $azul-2;
        }

        #selec-grafico {
            border: none;
            background-color: $azul-4;
            color: $azul-2;
            outline: none;
            font-weight: 400;
            font-size: 14px;
            padding: 15px;
        }
    }

    .card-perguntas-frequentes {

        padding: 10px 0px 0px 0px;

        span {
            font-weight: 700;
            font-size: 24px;
            color: $preto;
            background-color: $azul-1;
            padding: 10px 60px 5px 30px;
            border-radius: 0px 50px 0px 0px;

            @include mq("tablet-wide", max) {
                font-size: 23px;
            }
        }
    }

    .avaliacoes-anteriores {

        a{
            font-weight: 400;
            font-size: 16px;
            text-decoration: underline;
            color: $azul-2;
        }

        i {
            color: $azul-2;
            font-size: 12px;
        }
    }

    textarea {
        border: 1px solid $cinza-borda-texarea;
        border-radius: 2px;
        background-color: $cinza-textarea;
        outline: none;
        resize: none;
    }

    .btn-enviar {
        background-color: $azul-2;
        border: none;
        border-radius: 30px;
        padding: 12px;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        color: $branco;

        &:hover {
            background-color: $branco;
            border: 1px solid $azul-2;
            transition-duration: 0.6s;
            color: $azul-2;
        }
    }

    .card-perguntas {
        width: 100%;
        border: none;
        background-color: $branco;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-top: 5px;

        span {
            font-weight: 600;
            font-size: 16px;
            color: $preto;
            background-color: $azul-1;
            padding: 10px 50px 5px 30px;
            border-radius: 0px 50px 0px 0px;
        }

        p {
            padding: 20px;
        }
    }
}
    .rating{
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  transform: rotateY(180deg);
}

.rating input{
  display: none;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 30px;
    margin: 0;
}

.rating label:before{
  content: '\f005';
  font-family: $font-icon;
  font-weight: 900;
  position: relative;
  display: block;
  font-size: 30px;
  color: #87BEFF;
}

.rating label:after{
  content: '\f005';
  font-family: $font-icon;
  font-weight: 900;
  position: absolute;
  display: block;
  font-size: 30px;
  color: #02719E;
  top: 0;
  opacity: 0;
  transition: .5;
  text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}