.breadcrumb{
    font-size: 0.75em;
}

#bread-crumb {
    // background-color:$cinza-borda-texarea;
    background: rgba(#005375, 70%);
    font-weight: 400;
    font-size: 22px;
    margin-top: -24px;

    @include mq("tablet-wide", max) {
        font-size: 10px;
    }

    li {
        color: #fff;
        font-size: 0.8em;

        a {
            color: #fff;
        }
    }
}