.descricao-1 {
    display: flex;
    align-items: center;
    padding: 30px;

    img {
        width: 100%;
    }

    .quantidades {
        border-radius: 30px;
        border: none;
        padding: 10px;
        border: 1px solid #D2D2D2;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        span {
            color: $azul-2;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            width: 30px;
            text-align: center;
            border: none;
            padding: 5px;
            background-color: transparent;
        }
        
        button {
            background-color: transparent;
            border: none;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0;
        }
        
        button:focus,
        input:focus {
            outline: none;
        }
        
    }

    .nome-produto {
        font-weight: 700;
        font-size: 18px;
        color: $azul-2;

        @include mq("tablet-wide", max) {
            text-align: center;
            font-size: 20px;
        }
    }

    .card-periodo {
        background-color: $cinza-textarea;
        padding: 15px;
        font-size: 14px;
        text-align: center;

        .single-input {
            position: relative;
    
            &::before{
                content: "\f133";
                font-family: $font-icon;
                font-weight: 300;
                position: absolute;
                z-index: 99;
                color: #767676;
                right: 10px;
                top: 8px;
            }
    
            input {
                border-radius: 8px;
                border: none;
                padding: 10px;
                outline: none;
                color: #767676;
                font-size: 14px;
                position: relative;
            }
    
            ::placeholder {
                color: $preto;
                padding-left: 15px;
            }
    
            #placeholder-text {
                color: $preto;
            }
        }
    }

    .card-periodo-preco {
        padding: 15px;
        text-align: center;
        font-size: 14px;
        color: #87BEEF;

        input {
            background-color: transparent;
            border: none;
            text-align: center;
        }

    }

    p {
        font-weight: 600;
        font-size: 16px;
        color: $azul-2;
        text-align: center;
        text-transform: uppercase;
    }

    .valor-frete {
        display: flex;
        justify-content: center;
        font-weight: 700;
        color: $azul-2;
    }

    .total {
        font-weight: 700;
        font-size: 18px;
        color: $azul-2;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
}

.tipo-frete {

    .title {
        font-weight: 700;
        font-size: 22px;
        color: $azul-2;
    }

    .tipo {
        font-weight: 600;
        font-size: 18px;
        color: $azul-2;
    }

    small {
        font-weight: 400;
        font-size: 13px;
        color: $azul-2;
    }

    .form-check-input[type=radio] {
        border: 1px solid $azul-2;
    }

    .form-check-input:checked {
        background-color: $azul-2 !important;
        border-color: $azul-2 !important;
    }

    .form-check-input:checked[type=radio] {
        --bs-form-check-bg-image: none;
    }
}

.cep-cupom {
    background-color: $azul-3;
    // min-height: 10vh;
    padding: 40px;

    label {
        font-weight: 700;
        font-size: 16px;
        color: $preto;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 5px;
        border: 1px solid $azul-2;
        border-radius: 5px;
        padding: 8px;
    }

    .btn-alugar {
        text-align: center;
        background-color: $azul-2;
        border-radius: 8px;
        padding: 16px 80px;
        font-size: 14px;
        font-weight: 400;
        color: $branco;
        text-transform: uppercase;

        &:hover {
            background-color: $branco;
            border: 1px solid $azul-1;
            color: $azul-2;
            transition-duration: 0.6s;
            color: $azul-1;
        }
    }
}

.sugestao {

    min-height: 61vh;
    background-image: url('../img_site/aviao.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;

    .card-sugestao {
        background-color: $azul-3;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: none;
        border-radius: 5px;
        padding: 10px;
        position: relative;
        width: 40vw;
        min-height: 30vh;
        top: 100px;

        @include mq("tablet-wide", max) {
            width: 100%;
        }

        .card {
            background-color: $azul-3;
            border: 1px solid $azul-3;
            padding: 10px 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            min-height: 25vh;
            top: 15px;

            @include mq("tablet-wide", max) {
                top: 0;
            }

            span {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 12px;
            }

            small {
                font-weight: 400;
                font-size: 12px;
            }
        }

        a {
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            text-decoration: underline;
            color: $azul-2;
        }
    }


    .adicionais {
        position: absolute;
        background-color: $azul-2;
        color: $branco;
        top: -60px;
        font-weight: 600;
        font-size: 18px;
        height: 8vh;
        width: 22vw;
        left: 0;
        border-radius: 8px 8px 0 0;
        padding: 15px 10px 0px 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        @include mq("tablet-wide", max) {
            top: -52px;   
            font-size: 15px;
            height: 8vh;
            width: 90vw;
        }
    }
}