#como_funciona {
    margin-top: 3rem;
    position: relative;
    overflow: hidden;

    h1 {
        font-weight: 600;
        font-size: 30px;
        color: #000;
        text-align: center;
        padding-top: 35px;
        text-transform: uppercase;
    }
    strong{
        font-size: 1.2em;
    }
    p{
        font-size: 14px;
        margin: 0;
    }

    .card-numero{
        background-color: #02719E;
        color: #fff;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
    }
}