.card-cadastro {

    @include mq("tablet-wide", max) {
        height: 250vh;
        margin-bottom: 20px;
    }
}
.btn-descartar {
    border-radius: 8px;
    border: 1px solid $cinza-2;
    padding: 16px;
    text-align: center;
    background-color: $branco;

    &:hover {
        background-color: $azul-2;
        border: 1px solid $azul-2;
        color: $azul-2;
        transition-duration: 0.6s;

        a {
            color: $branco;
        }
    }

    a {
        font-weight: 400;
        font-size: 16px;
        color: $cinza;
        width: 100%;
        display: block;
    }
}

.btn-atualizar {
    border: none;
    padding: 16px;
    text-align: center;
    background-color: $azul-2;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border-radius: 8px;


    &:hover {
        background-color: $branco;
        border: 1px solid $cinza-2;
        color: $azul-2;
        transition-duration: 0.6s;
    }
}