.card-cadastro {
    background-color: $cinza-textarea;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    min-height: 50vh;
    border-top: 6px solid $cinza-borda-texarea;

    @include mq("tablet-wide", max) {
        height: 390vh;
        margin-bottom: 20px;
    }

    form{
        i {
            font-size: 25px;
            color: $preto;
        }
    
        hr{
            margin: 1rem 0;
            color: inherit;
            border: 0;
            border-top: 2px $preto solid;
            opacity: 1;
        }
    
        span {
            font-weight: 500;
            font-size: 27px;
            color: $preto;
            position: relative;
    
            // &::before {
    
            // 	content: "";
            // 	position: absolute;
            // 	background-color: $preto;
            // 	height: 2px;
            // 	left: -20px;
            // 	width: 67vw;
            // 	top: 50px;
            // }
        }
    }

    .title-cadastro {
        font-weight: 400;
        font-size: 20px;
        color: $preto;
        padding-top: 20px;
    }

    .form-check-input[type=checkbox] {
        border: 1px solid $cinza;
        border-radius: 0;

        &:checked{
            font-family: $font-icon;
            position: relative;
            background-color: #fff !important;

            &::before{
                content: "\f00c";
                display: inline-block;
                right: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: -10px;
                font-size: 20px;
            }
        }
    }
    .form-check-input:checked {
        background-color: $cinza !important;
    }

    .txt-check {
        font-weight: 400;
        font-size: 20px;
        color: $preto;

        strong {
            font-weight: 600;
        }
    }

    .btn-finalizar-cadastro {
        text-align: center;
        padding: 10px;
        background-color: #02719E;
        border-radius: 10px;
        margin-top: 25px;
        width: 100%;
        color: $branco;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        border: none;

        &:hover {
            background-color: $branco;
            border: 1px solid $azul-1;
            color: $azul-2;
            transition-duration: 0.6s;
        }
    }
}