#data-aluguel {
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    // padding: 20px;
    // padding-top: 50px;
    border-radius: 8px;
    padding: 20px;

    .texto-color{
        color: #976E38;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    p{
        color: #565858;
        font-size: 14px;
    }

    span {
        font-weight: 800;
        font-size: 24px;
        color: $bege;
    }

    small {
        font-weight: 400;
        font-size: 16px;
        color: $cinza;
    }

    #placeholder-text::placeholder {
        
        font-weight: 400;
        font-size: 18px;
        color: $preto;
    }

    // .single-input {

    //     .form-input {
    //         font-weight: 400;
    //         font-size: 16px;
    //         color: $preto;
    //         border: none;
    //         text-align: center;
    //         padding: 10px;
    //     }
    // }

    .single-input {
        position: relative;

        &::before{
            content: "\f133";
            font-family: $font-icon;
            font-weight: 300;
            position: absolute;
            z-index: 99;
            color: #767676;
            right: 10px;
            top: 8px;
        }

        input {
            border-radius: 8px;
            border: none;
            padding: 10px;
            outline: none;
            color: #767676;
            font-size: 14px;
            position: relative;
        }

        ::placeholder {
            color: $branco;
            padding-left: 15px;
        }

        #placeholder-text {
            color: $branco;
        }
    }

    .ate {
        font-weight: 500;
        font-size: 14px;
        color: #252525;
        text-align: center;
    }

    .btn-pesquisa {
        display: flex;
        justify-content: center;
        background-color: $azul-2;
        border: none;
        border-radius: 8px;
        padding: 10px;
        align-items: center;

        i {
            color: $branco;
            font-size: 20px;
        }

        &:hover {
            background-color: $azul-1;
            border: 1px solid $azul-2;
            transition: 300ms;
        }
    }
}