.texto-periodo {
    font-weight: 500;
    font-size: 20px;
    color: $azul-2;
    margin-top: 10px;
}

.valor-aluguel-total {
    font-weight: 700;
    font-size: 25px;
    color: $azul-2;
}

// span {
//     font-weight: 400;
//     font-size: 12px;
//     color: $azul-2;
// }

.box-data {
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-color: $azul-2;

    .semana {
        font-weight: 500;
        font-size: 12px;
        color: $branco;
        text-align: center;
    }

    .data {
        font-weight: 500;
        font-size: 60px;
        color: $branco;
        display: flex;
        justify-content: center;
    }

    hr {
        border-bottom: 2px $branco solid;
        opacity: 1;
        position: relative;
        bottom: 12px;
        max-width: 55%;
        margin: auto;
    }

    .mes {
        font-weight: 500;
        font-size: 20px;
        color: $branco;
        display: flex;
        justify-content: center;
    }
}

.periodo {
    background-color: $azul-1;
    border-radius: 10px;
    border: 1px solid $azul-2;

    .border-end {
        border-radius: 0;
        border-right: 1px solid $azul-2 !important;
    } 

    

    .title {
        font-weight: 700;
    }
    
    p {
        font-weight: 300;
        font-size: 15px;
        color: $azul-2;
    }

    &:active {
            
        background-color: $azul-5;

        p {
            font-weight: 700;
            font-size: 15px;
            color: $branco;
        }
    }
    

    .single-input {

        input {
            background-color: $azul-2;
            border-radius: 5px;
            border: none;
            padding: 3px;
            outline: none;
        }

        ::placeholder {
            color: $branco;
            padding-left: 15px;
        }

        #placeholder-text {
            color: $branco;
        }
    }
}

.box-frete {
    width: 100%;
    height: auto;
    border: 1px solid $azul-2;
    background-color: $azul-6;
    border-radius: 10px;
    padding: 10px;

    .title {
        font-weight: 600;
        font-size: 18px;
        color: $azul-2;
    }

    .input-custom {
        border-radius: 10px;
        border: 1px solid $azul-2;
        width: 100%;
    }

    #placeholder-text::placeholder {

        font-weight: 300;
        font-size: 15px;
        color: $azul-2;
        padding-left: 10px;
    }

    .btn-consultar {
        border-radius: 10px;
        border: 1px solid $azul-2;
        background-color: $azul-1;

        &:hover {
            background-color: $branco;
            transition-duration: 0.6s;
        }

        a {
            font-weight: 300;
            font-size: 14px;
            color: $azul-2;

            &:hover {
                color: $azul-2;
            }
        }
    }
}