#informacoes-produto {

    padding-top: 50px;

    .card-title {
        background-color: $branco;
      
        padding: 20px 0px 0px 0px;

        span {
            color: #000;
            background-color: #D1E6FF;
            padding:10px 30px;
            border-radius: 0px 50px 0px 0px;
            position: relative;
            font-size: 18px;
            font-weight: 600;
            width: 40%;
            display: block;

            @include mq("phone-wide", max) {
                width: 90%;
            }

            &:after{
                content: "";
                position: absolute;
                right: 100%;
                height: 100%;
                width: 500vw;
                top: 0;
                background-color: #D1E6FF;
            }
            @include mq("tablet-wide", max) {
                font-size: 16px;
            }
        }
    }

    .sub-title {
        font-weight: 400;
        font-size: 28px;
        color: $preto;
        margin-top: 1rem;
    }

    .descricao-tabela {
        background-color: $cinza-tabela;
        padding: 8px;
    }

    span {
        font-weight: 500;
        font-size: 16px;
        color: $cinza;
    }

    .linha {
        border-bottom: 1px solid $cinza;
        align-items: center;
    }
}