.loading{
    background: radial-gradient(white, transparent);
    width: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-dot {
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #02719E;
margin: 0 10px;
animation: loader-dot 1.5s infinite ease-in-out;
animation-delay: calc(0.5s);
}

.loader-dot:nth-child(2) {
animation-delay: calc(0.5s + 0.25s);
}

.loader-dot:nth-child(3) {
animation-delay: calc(0.5s + 0.5s);
}

@keyframes loader-dot {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.5);
}
100% {
    transform: scale(1);
}
}