.menu-conta{
    position: relative;
    .btnLogado{
        position: relative;
        display: block;
        color: #455463;
        &:after{
            font-family: $font-icon;
            content: "\f078";
            font-weight: 900;
            display: block;
            float: right;
            margin-left: 5px;
            @include mq("phablet",'max'){
            transform: rotate(180deg);
            }
        }
    }
    dl{
        display: none;
        position: absolute;
       
        flex-direction: column;
        background: #fff;
        font-weight: 900;
        border: 1px solid #c7c7c7;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 10px !important;
        gap: 0;
        &.active{
            display: flex;
            
        }
        @include mq("phablet",'max'){
            bottom: 40px;
            right: 0;
        }
        dd{
            text-align: left;
            width: 100%;
            a{
                text-align: left;
                display: block;
                font-size: 14px;
                font-weight: 300;
                text-wrap: nowrap;
                color: #455463;
                padding: 5px 10px;
                border-radius: 4px;
                &:hover{
                    background: #d7d7d7;
                }
            }
            &:last-child{
                border-top: 1px solid #f7f7f7;
            }
        }
    }
  
    .btnSair{
        background: none;
        display: block;
        border: none;
        padding: 5px;
        margin-top: 5px;
        color: #455463;
        border-radius: 4px;
        &:hover{
            background: #d7d7d7;
        }
    }
}