#modalLocalizacao {

    .modal-title {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
    
    .modal-sub-title {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: $cinza;
    }

    label {
        font-size: 14px;
        font-weight: 400;
    }

    .btn-salvar {
        border-radius: 5px;
        background-color: $azul-2;
        color: $branco;
        padding: 8px 50px;
        text-align: center;

        &:hover {
            background-color: $branco;
            transition-duration: 0.6s;
            border: 1px solid $azul-2;
            color: $azul-2;
        }

        a {
            font-weight: 500;
            font-size: 15px;
            color: $branco;

            &:hover {
                color: $azul-2;
                transition-duration: 0.6s;
            }
        }
    }

    .footer-modal {

        padding: 0px 20px 20px;

        p {
            font-weight: 400;
            font-size: 14px;
        }

        a {
            font-weight: 500;
            color: $azul-2;
        }
    }
}
