#produtos {

    // background-image: url('../img_site/aviao.png');
    // background-repeat: no-repeat;
    // background-position: left bottom;

    .title {
        font-weight: 700;
        font-size: 18px;
        color: $branco;
        background-color: $azul-2;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .card-itens {
        width: 100%;
        height: 100%;
        padding: 20px;
        border: none;
        background-color: $branco;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: relative;
        border-radius: 12px;

        &:hover{
            box-shadow: $azul-3 0px 7px 29px 20px;
            transition: 0.5s all ease-in-out;
        }
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 4px;
            @include mq("tablet-wide", max) {
                width: 100%;
                height: 300px;
            }
        }

        .favoritos {
            position: absolute;
            top: 10px;
            right: 10px;
            background: #f7f7f7;
            padding: 5px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            &.active {
                color: red !important;
            }
        }

     

        .descricao-produto {
           
            font-weight: 600;
            font-size: 18px;
            color: $preto;
            
            padding: 20px 0px;
            .nome-produto{
                // overflow: hidden;
                // text-overflow: ellipsis;
                // display: -webkit-box;
                // -webkit-line-clamp: 2;
                height: 2.5em;
                font-size: 16px;
                font-weight: 600;
                color: #23333F;
                text-align: left;
            }
            .valores{
                font-size: 16px;
                font-weight: 400;
                color: #455463;
                text-align: left;
            }
        }

        .espaco-btn-alugar {

           margin: 5px 0;
            text-align: center;

            .btn-alugar {
                width: 100%;
                background-color: #4089E0;
                border: none;
                border-radius: 8px;
                padding: 16px;
                display: block;
                font-weight: 400;
                font-size: 16px;
                color: #fff;
                &:hover {
                    background-color: $azul-2;
                    color: $branco;
                    transition-duration: 0.6s;
                    box-shadow: 0px 0px 10px #c1c1c1;
                }
            }

            .btn-indisponivel{
                background-color: $cinza-2;
                border: none;
                border-radius: 30px;
                padding: 10px 55px 10px 55px;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: $preto;
                text-transform: uppercase;
    
                &:hover {
                    background-color: darken($cinza-2,10%);
                    color: $preto;
                    transition-duration: 0.6s;
                }
        }
        }
    }

    .title-filtros {

        // background-color: $branco;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // border-radius: 0 0 8px 8px;
        p {
            font-weight: 600;
            font-size: 16px;
            color: $preto;
            margin-top: 10px;
        }


        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 10px;

            li {
                list-style: none;

                a {
                    font-weight: 400;
                    font-size: 14px;
                    color: $preto;
                    // display: inline-block;
                }
            }
        }
    }

    .pagination{
        justify-content: center !important;
    }

    .pagination .page-link {

        color: $preto !important;
        background-color: $branco !important;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        margin: 0 5px; 
        box-shadow: rgba(100, 100, 111, 0.2) 1px 12px 12px 0px;
    }

    .pagination .page-link:hover {
        background-color: $azul-2 !important;
        color: $branco !important;
        border: none;
    }

    .pagination .page-item.active .page-link {
        background-color: $azul-2 !important;
        color: $branco !important;
        border-color: none;
    }
}