.topo p {

    @include mq("tablet-wide", max) {
        font-size: 28px;
    }
}


.card-contato {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: none;
    background-color: $azul-3;

    .title {
        font-weight: 500;
        font-size: 20px;
        color: $preto;
    }

    small {
        font-weight: 400;
        font-size: 18px;
        color: $azul-2;
    }

    .btn-atendimento {
        padding: 8px 35px;
        border-radius: 5px;
        border: none;
        background-color: $azul-2;
        text-align: center;
            
        a {
            font-weight: 600;
            font-size: 18px;
            color: $branco;
            text-transform: uppercase;
        }

        &:hover {
            background-color: $branco;
            border: 1px solid $azul-1;
            color: $azul-2;
            transition-duration: 0.6s;
    
            a {
                color: $azul-1;
            }
        }
    }

    .form-select {
        display: block;
        width: 100%;
        background-color: $azul-3;
        background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid $azul-2;
        border-radius: 10px;
        outline: none;
    }

    label {
        font-weight: 200;
        font-size: 15px;
    }
}