#sugestao-compra {

    padding-top: 30px;

    .card-title {
        background-color: $branco;
      
        padding: 20px 0px 0px 0px;

        span {
            color: #000;
            background-color: #D1E6FF;
            padding:10px 30px;
            border-radius: 0px 50px 0px 0px;
            position: relative;
            font-size: 18px;
            font-weight: 600;
            width: 40%;
            display: block;

            @include mq("phone-wide", max) {
                width: 90%;
            }

            &:after{
                content: "";
                position: absolute;
                right: 100%;
                height: 100%;
                width: 500vw;
                top: 0;
                background-color: #D1E6FF;
            }
            @include mq("tablet-wide", max) {
                font-size: 16px;
            }
        }
    }

    .sugestao-container{
        background-color: #F9F9F9;
        border: 1px solid #D6D6D6;
        border-radius: 16px;
        padding: 20px;

        i{
            color: #976E38;
            font-size: 35px;
        }

        .icone{
            width: 60px;
            background: #000;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #976E38;
            color: #F9F9F9;
            font-size: 30px;
        }
        span{
            font-size: 22px;
            font-weight: 500;
        }
    }

    .card-sugestao {
        width: 100%;
        border: none;

        img {
            width: 100%;
            border-radius: 8px;
        }

        .descricao-produto {

            .title{
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            font-size: 16px;
            font-weight: 400;
            color: $preto;
            text-align: center;
            text-transform: uppercase;
        }
    }

    span {
        font-weight: 700;
        font-size: 25px;
        color: $preto;
    }

    .btn-alugar-todos {
        background-color: #976E38;
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        text-align: center;
        width: 100%;
        border-radius: 8px;
        color: #F9F9F9;
        font-weight: 400;
        font-size: 16px;
       

        &:hover {
            background-color: #F9F9F9;
            border: 1px solid #976E38;
            transition-duration: 0.6s;

          
                color: #976E38;
            
        }
    }
}