#termos-condicoes{
    width: 60%;
    height: 60vh;
    overflow: auto;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-top: 2rem;
    padding: 1rem;

    h4{
        color: #02719E;
        font-size: 18px;
    }

    p{
        font-size: 14px;
    }
}